:root {
  --primary-color: #6d9886;
  --secondary-color: #f2e7d5;
  --additional-color: #3c2317;
  --back-color: #f7f7f7;
  --dark-color: #393e46;
}

.header {
  padding-top: 120px;
  padding-left: 120px;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
  color: var(--primary-color);
}

h2 {
  color: var(--additional-color);
}
h2,
h3 {
  font-family: "Source Sans Pro", sans-serif;
}

h3 {
  font-size: 20px;
  color: var(--dark-color);
  line-height: 1;
}

.titles {
  margin: 40px 0 40px 0;
}

.about-me {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: var(--additional-color);
  background-color: var(--back-color);
  border: none;
  border-radius: 4px;
  padding: 10px 30px 10px 30px;
}
